<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>real time communication</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/css/default.css">
	<link rel="stylesheet" href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/css/layout.css">
   <link rel="stylesheet" href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/css/media-queries.css">
   <link rel="stylesheet" href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/modernizr.js"></script>

    <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/login.jpeg" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About project and download </a></li>
	         
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Real-Time Communication For Specially Abled</h1>
            <h3> Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about feature</a>.</h3>
            <hr />
           
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

        
         <div class="nine columns main-col">

            <h2>About feature and download </h2>

            <p>In our society, we have people with disabilities. The technology is developing day by day but no significant developments are undertaken for the betterment of these people. 
               Communications between deaf-mute and a normal person has always been a challenging task
               It is very difficult for mute people to convey their message to normal people. Since normal people are not trained on hand sign language.
               In emergency times conveying their message is very difficult.
               he human hand has remained a popular choice to convey information in situations where other forms like speech cannot be used. Voice Conversion System with Hand Gesture Recognition and translation will be very useful to have a proper conversation between a normal person and an impaired person in any language.
               The project aims to develop a system that converts the sign language into a human hearing voice in the desired language to convey a message to normal people, as well as convert speech into understandable sign language for the deaf and dumb. 
               We are making use of a convolution neural network to create a model that is trained on different hand gestures. 
               An app is built which uses this model. 
              This app enables deaf and dumb people to convey their information using signs which get converted to human-understandable language and speech is given as output
</p>

           

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-camera"></i>camera</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


  


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

           

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/communication.jpeg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>communication</h5>
                              <p>how communication is important</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/signal2.jpeg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>hand sign</h5>
                              <p>about sign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->
                  <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/dot.jpeg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>signals</h5>
                              <p>sign image </p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


              
              

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/communication.jpeg" alt="" />

		      <div class="description-box">
			      <h4>communication</h4>
		 <span class="categories"><i class="fa fa-tag"></i></span>
		      </div>

            <div class="link-box">
               <a href="https://youtu.be/8Ox5LhIJSBE" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/signal2.jpeg" alt="" />

		      <div class="description-box">
			      <h4>hand signals</h4>
		 <span class="categories"><i class="fa fa-tag"></i></span>
		      </div>

            <div class="link-box">
               <a href="https://en.wikipedia.org/wiki/Sign_language" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/dot.jpeg" alt="" />

		      <div class="description-box">
			      <h4>handsignalimage</h4>
			       <span class="categories"><i class="fa fa-tag"></i></span>
                   <div class="link-box">
               <a href="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/istockphoto-1172980955-612x612.jpg" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a> </div>  

           </div>


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


  


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                           Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                           nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                           </p>
                           <cite>Mr. Adobe</cite>
                        </blockquote>
                     </li>
                    <li>
                        <blockquote>
                           <p>“My advice to other disabled people would be, concentrate on things your disability doesn't prevent you doing well, and don't regret the things it interferes with. Don't be disabled in spirit as well as physically.”
                           </p>
                           <cite>Stephen Hawking</cite>
                        </blockquote>
                     </li>


                   <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


  


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

    
           

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i img="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/portfolio/modals/arrow.png"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/jquery.flexslider.js"></script>
   <script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/waypoints.js"></script>
   <script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/jquery.fittext.js"></script>
   <script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/magnific-popup.js"></script>
   <script src="https://mo0478.s3.jp-tok.cloud-object-storage.appdomain.cloud/js/init.js"></script>

</body>

</html>
